
@{
    Layout = null;
}
@using CricPanda.Models;
@model string
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          href="https://unpkg.com/98.css">
    <title>Create</title>
</head>
<body>
    <div style="background-color: lightgray">
        <div class="title-bar">
            <div class="title-bar-text">INSERT INTO DATABASE</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>

        <hr>

        <button onclick="location.href = '../../Users/Delete';" style="margin: 10px">DELETE</button>
        <button onclick="location.href = '../../Users/Update';" style="margin: 10px">UPDATE</button>
        <button onclick="location.href = '../../Home/LiveScore';" style="margin: 10px">Go to Website</button>


        <hr>
        <label>Status: @Model</label>
        <hr>
        <div style="margin: 5rem;">


            <div class="window" style="width: 500px; margin-bottom: 50px">
                <div class="title-bar">
                    <div class="title-bar-text">Add Tournament</div>

                </div>
                <div class="window-body">
                    <form method="post" action="../../Users/AddT">
                        <div class="field-row">
                            <label for="text17">Tournament Name</label>
                            <input id="Tname" name="Tname" type="text" style="margin-left: 20px" />
                        </div>
                        <hr>
                        <div class="field-row">
                            <label for="text17">Tournament Location</label>
                            <input id="Tloc" name="Tloc" type="text" />
                        </div>
                        <hr>
                        <div class="field-row">
                            <label for="text17">Tournament Start Date</label>
                            <input id="sdate" name="sdate" type="date" />
                        </div>
                        <hr>
                        <div class="field-row">
                            <label for="text17">Tournament End Date</label>
                            <input id="edate" name="edate" type="date" />
                        </div>
                        <hr>
                        <button type="submit" style="margin: 10px">Insert</button>
                    </form>
                </div>
            </div>
            <hr>
            <div class="window" style="width: 500px; margin-bottom: 50px">
                <div class="title-bar">
                    <div class="title-bar-text">Add Team</div>

                </div>
                <div class="window-body">
                    <form method="post" action="../../Users/AddTeam">
                        <div class="field-row">
                            <label for="text17">Team Name</label>
                            <input id="tname" name="tname" type="text" />
                        </div>
                        <hr>
                        <div class="field-row">
                            <label for="text17">Team Flag(URL)</label>
                            <input id="tname" name="flag" type="url" maxlength="100" />
                        </div>
                        <hr>
                        <button type="submit" style="margin: 10px">Insert</button>
                    </form>
                </div>
            </div>
            <hr>
            <div class="window" style="width: 500px; margin-bottom: 50px">
                <div class="title-bar">
                    <div class="title-bar-text">Add Team to Tournament</div>

                </div>
                <div class="window-body">
                    <form method="post" action="../../Users/AddTT">
                        <div class="field-row">Select Team:</div>
                        <div class="field-row">
                            <select style="margin: 20px" id="Team" name="Team">
                                @foreach (Team team in ViewBag.Teams)
                                {
                                    <option>@team.Team_Name</option>
                                }

                            </select>
                        </div>
                        <hr>
                        <div class="field-row">Select Tournament:</div>
                        <select style="margin: 20px" id="Tourna" name="Tourna">
                            @foreach (Tournaments tournaments in ViewBag.T)
                            {
                                <option>@tournaments.Name</option>
                            }

                        </select>
                        <hr>
                        <button type="submit" style="margin: 10px">Insert</button>
                    </form>
                </div>
            </div>
            <hr>
            <div class="window" style="width: 500px; margin-bottom: 50px">
                <div class="title-bar">
                    <div class="title-bar-text">Add Player</div>
                </div>
                <div class="window-body">
                    <form method="post" action="../../Users/AddPlayer">
                        <div class="field-row">
                            <label for="text17">Player Name</label>
                            <input id="pname" type="text" name="pname" />
                        </div>
                        <hr>
                        <div class="field-row">
                            <label for="text17">Date of Birth</label>
                            <input id="dob" type="date" name="dob" />
                        </div>
                        <hr>
                        <fieldset>
                            <legend>PLAYER ROLE</legend>

                            <div class="field-row">
                                <input id="radio10" type="radio" name="role" value="Batsman">
                                <label for="radio10">Batsman</label>
                            </div>
                            <div class="field-row">
                                <input id="radio11" type="radio" name="role" value="Bowler">
                                <label for="radio11">Bowler</label>
                            </div>
                            <div class="field-row">
                                <input id="radio12" type="radio" name="role" value="All-Rounder">
                                <label for="radio12">All-Rounder</label>
                            </div>
                        </fieldset>
                        <hr>
                        <div class="field-row">Select Player Team:</div>
                        <select style="margin: 20px" name="Team">
                            @foreach (Team team in ViewBag.Teams)
                            {
                                <option>@team.Team_Name</option>
                            }

                        </select>
                        <hr>
                        <button type="submit" style="margin: 10px">Insert</button>
                    </form>
                </div>
            </div>
        </div>
        <hr>





    </div>
</body>
</html>
