
@{
    Layout = null;
}
@using CricPanda.Models;
@model List<Team>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Specer Template">
    <meta name="keywords" content="Specer, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teams</title>
 

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Acss/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Acss/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Acss/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Acss/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Acss/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Acss/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ht-info">
                            <ul>
                                <li>Welcome to CricPanda</li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ht-links">
                            <a><i class="fa fa-facebook"></i></a>
                            <a><i class="fa fa-vimeo"></i></a>
                            <a><i class="fa fa-twitter"></i></a>
                            <a><i class="fa fa-google-plus"></i></a>
                            <a><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a><img src="~/img/banner1.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <ul class="main-menu">
                                <li><a href="/Home/LiveScore">Live Scores</a></li>
                                <li class="active"><a href="../../Users/Teams">Teams</a></li>
                                <li><a href="../../Home/Index">Tournaments</a></li>
                                <li><a href="../../Users/SelectTournament">Stats</a></li>
                                <li><a href="../../Home/Panda_Home">Panda League</a></li>
                                @{
                                    if (Session["username"].ToString() == "admin123")
                                    {
                                        <li><a href="../../Users/Create">Admin Panel</a></li>
                                    }
                                }
                                @*<li>
            <a href="#">Pages</a>
            <ul class="dropdown">
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./blog-details.html">Blog Details</a></li>
                <li><a href="#">Schedule</a></li>
                <li><a href="#">Results</a></li>
            </ul>
        </li>
        <li><a href="./contact.html">Contact Us</a></li>*@
                            </ul>
                            @*<div class="nm-right search-switch">
                                    <i class="fa fa-search"></i>
                                </div>*@
                        </div>
                    </div>
                </div>
                <div class="canvas-open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <div style="padding-top: 3rem;"></div>
    <!-- Club Section Begin -->

    <section class="breadcrumb-section set-bg" data-setbg="../../img/B.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-text">
                        <h2>Teams</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="club-tab-list">
        <div class="row">
            <div class="col-lg-8 m-auto">

                @foreach (Team team in Model)
                {
                    <div class="tab-content" onclick="window.location.href = '../../Users/TeamInfo?id=@team.Team_ID';">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="club-tab-content">
                                <div class="ct-item">
                                    <div class="ci-text">
                                        <img src="@team.Flag.ToString()" alt="">
                                        <h5>@team.Team_Name</h5>
                                    </div>

                                    <div class="ci-name">
                                        <a href="../../Users/TeamInfo?id=@team.Team_ID">More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <!-- Club Section End -->
    <div style="padding: 3rem;"></div>
    <!-- Footer Section Begin -->
    <footer class="footer-section set-bg" data-setbg="../../img/footer-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="fs-logo">
                        <div class="logo">
                            <a><h2 style="color: white;">CricPanda</h2></a>
                        </div>
                        <ul>
                            <li><i class="fa fa-envelope"></i> CricPanda@gmail.com</li>
                            <li><i class="fa fa-copy"></i> +(92)300 678910</li>
                            <li><i class="fa fa-thumb-tack"></i> FAST Millat Sreet Faysal Town Lahore, Pakistan</li>
                        </ul>
                        <div class="fs-social">
                            <a><i class="fa fa-facebook"></i></a>
                            <a><i class="fa fa-twitter"></i></a>
                            <a><i class="fa fa-tumblr"></i></a>
                            <a><i class="fa fa-linkedin"></i></a>
                            <a><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="container">
            <div class="copyright-option">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="co-text">
                            <p>

                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved

                            </p>
                        </div>
                        <div class="co-widget">
                            <ul>
                                <li><a>Copyright notification</a></li>
                                <li><a>Terms of Use</a></li>
                                <li><a>Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="fa fa-close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- Js Plugins -->
    <script src="~/Ajs/jquery-3.3.1.min.js"></script>
    <script src="~/Ajs/bootstrap.min.js"></script>
    <script src="~/Ajs/jquery.magnific-popup.min.js"></script>
    <script src="~/Ajs/jquery.slicknav.js"></script>
    <script src="~/Ajs/owl.carousel.min.js"></script>
    <script src="~/Ajs/main.js"></script>
</body>

</html>
