body{
  margin-top: 0;
  margin:0;
  font-family:  sans-serif;
  font-weight: bold;
}
.top-container{
  background-color: #2b2e4a;
  height: 250px;
  display: inline-block;
  width: 100%;
box-shadow: 0 0 5px 0 #000;


}
h1{
  padding-top: 60px;
  color: white;
  text-align: center;
  font-size: 48px;
}
 h2{
   margin-left: 50px;
   margin-bottom: 30px;
 }
 h3{
   margin-left: 10px;
   margin-bottom: 2px;
 }
 .h3-2{
   margin-left: 50px;
   margin-top: 0;
   font-weight: lighter;
   margin-bottom: 30px;
 }
.bottom-container{
  width: 250px;
  display: inline-block;
  margin-top: 60px;
  margin-left: 50px;
  border: solid 1px #222831;
  border-radius: 5%;
}
.user-img{

  width: 150px;
  position: absolute;
  top: 150px;
  left:45%;
}

.back-button{
  width: 30px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.sports{
  width: 28%;
  position: absolute;
  right: 20px;
  top: 36%;
  opacity: 30%;
}

.panda-image{
  width:70px;
  position: absolute;
  right: 30px;
  top: 10px;
}


.country-container {
    background-color: #2b2e4a;
    box-shadow:2px 2px 2px #000;
    width: 400px;
    position: absolute;
    top: 400px;
    left: 550px;
}

.FlagImg {
    height: 40px;
    width: 60px;
}

.countryTXT {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFF;
    margin-left: 30px;
    display: inline;
    padding-bottom: 0px;
    position: relative;
    bottom: 10px;
}

#pref_head{
    position:absolute;
    top:340px;
    left: 500px;
}