
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/LandingPage.css">
    <link href="https://fonts.googleapis.com/css2?family=Spinnaker&display=swap" rel="stylesheet">
    <link rel="icon" href="~/fonts/white logo.svg">
    <title>CricPanda</title>
</head>
<body>
    <img class="background-image" src="~/fonts/stadium.jpg" alt="no image found">
    <h1>Welcome to cricpanda</h1>
    <p>The best place to find information about international and national cricket. <br> Here, you can find live score, personal league and much more.</p>
    <img class="logo" src="~/fonts/white logo.svg" />
    <a class="login" href="/Home/Login">Login</a>
    <a class="sign" href="/Home/SignUp">Sign up</a>
</body>
</html>

