

@{
    Layout = null;
}
@model  string


<!DOCTYPE html>
<html lang="en">
<head>
    <title>CricPanda</title>
    <!-- meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- meta tags -->
    <script type="text/javascript" src="../../js/jquery-2.1.4.min.js"></script>
    <!-- stylesheet -->
    <link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="../../css/lightbox.css">
    <!-- flexslider -->
    <link rel="stylesheet" href="../../css/flexslider.css" type="text/css" media="screen" />
    <!-- //flexslider -->
    <!-- Owl-Carousel-CSS -->
    <link rel="stylesheet" href="../../css/owl.carousel.css" type="text/css" media="all">
    <!-- //stylesheet -->
    <!-- online fonts -->
    <link href="//fonts.googleapis.com/css?family=Skranji:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Norican" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet">
    <!-- //online fonts -->
    <!-- font-awesome-icons -->
    <link href="../../css/font-awesome.css" type="text/css" rel="stylesheet">
    <!-- //font-awesome-icons -->
</head>
<body>
    <style>
        body {
            margin: 0;
            font-family: 'Montserrat', sans-serif;
            background-image: url('../../images/23627.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

  
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button2 {
            background-color: #008CBA;
        }
        /* Blue */
        .button3 {
            background-color: #f44336;
        }
        /* Red */
        .button4 {
            background-color: #e7e7e7;
            color: black;
        }
        /* Gray */
        .button5 {
            background-color: #555555;
        }
        /* Black */
   
    </style>

    <!-- banner -->
    <div class="banner">
        <div class="container">
            <div class="top-nav">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand" href="../../Home/Panda_Home">Panda League</a></h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-center cl-effect-11">
                            <li class="menu__item"><a href="../../Home/LiveScore"><strong>Home</strong></a></li>
                            <li class="menu__item"><a href="#about" class="menu__link scroll"><strong>How To Play?</strong></a></li>
                            <li class="menu__item"><a href="../Home/Panda_authenticate"><strong>View Your Team</strong></a></li>
                            <li class="menu__item"><a href="../Home/LeaderBoard_View" ><strong>View LeaderBoard</strong></a></li>
                            <li class="menu__item"><a href="#contact" class="menu__link scroll"><strong>Contact</strong></a></li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </nav>
            </div>
            <div class="w3_banner_info">
                <div class="w3_banner_info_grid">
                    <h3 class="test">Yesterday is history,tomorrow is a mystery, but today is a gift.That is why it is called 	 the present.</h3>
                    <br>
                    <h2 class="h2-title">Beat it Like a Champion</h2>
                    <p>There is always something more to learn even for a Panda.</p>
                    <ul>
                        <li><a href="#feature" class="button button5" data-toggle="modal" data-target="#myModal1"><strong>Vision</strong></a></li>
                        <li ><a href="../../Home/PCL_Team_Name" class="button button5"><strong>Create Team</strong></a></li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!---about -->
   
          
    <div class="w3ls-section about" id="about">
        <div class="w3labout-grid">
            <div class="col-md-6 col-sm-6 about-left">
                <div class="wthree-almubimg">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 about-right">
                <style>
                    h1 {
                        color: Highlight;
                        font-family: verdana;
                        font-size: 300%;
                    }

                    p {
                        color: red;
                        font-family: courier;
                        font-size: 160%;
                    }
                </style>

                <h1>Select Tournament</h1>
                    <br>
                    <h4>
                        Select Tournament you want to particiapte in. Only 1
                        current Tournament is allowed  to participate
                    </h4>
                    <br>
                    <br>
                <br/>


            </div>


            <div class="clearfix"></div>
        </div>
        <div class="w3labout-grid">
            <div class="col-md-6 col-sm-6 about1-right">
                <div class="wthree-almubimg wthree1-almubimg">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 about1-left about-w3l-grid2">
                <style>
                    h1 {
                        color: rebeccapurple;
                        font-family: verdana;
                        font-size: 300%;
                    }

                    p {
                        color: red;
                        font-family: courier;
                        font-size: 160%;
                    }
                </style>
                <h1>Select Players</h1>
                <br>
                <h4>
                    Select Your Favourite Players from the available squad
                    And Let the Magic Begin
                </h4>
               

                <div class="more">
                    <a href="#ReadMe2" class="hvr-shutter-in-vertical" data-toggle="modal" data-target="#myModal2">Read More<span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
                <br>
                <br>

            </div>
            <div class="clearfix"></div>
        </div>




        <div class="w3labout-grid">
            <div class="col-md-6 col-sm-6 about-left">
                <div class="wthree-almubimg about-grid3">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 about-right">
                <style>
                    h1 {
                        color: Highlight;
                        font-family: verdana;
                        font-size: 300%;
                    }

                    p {
                        color: red;
                        font-family: courier;
                        font-size: 160%;
                    }
                </style>
                <h4>Select Captian & Vice Captian </h4>
                <br>
                <h4>Selection of the Captian and Vice Captain of the team will lead to Bonus points for you </h4>
               <br/>
              

                <div class="more">
                    <a href="#ReadMe3" class="hvr-shutter-in-vertical" data-toggle="modal" data-target="#myModal3">Read More<span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>



        <div class="w3labout-grid">
            <div class="col-md-6 col-sm-6 about1-right">
                <div class="wthree-almubimg wthree1-almubimg">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 about1-left about-w3l-grid2">
                <style>
                    h1 {
                        color: Highlight;
                        font-family: verdana;
                        font-size: 300%;
                    }

                    p {
                        color: red;
                        font-family: courier;
                        font-size: 160%;
                    }
                </style>
                <h4>Points Scheme </h4>
                <h4>15 pts for every 25 Runs </h4>
                <h4>10 pts per wicket </h4>
                <h4>10 pts per catch </h4>
            </div>
            <div class="clearfix"></div>
        </div>







        <div class="clearfix"></div>

    <!-- contact -->
    <div class="contact-bottom w3ls-section" id="contact">
        <div class="container">
            <h3 class="agileits-title">Contact Us</h3>
            <div class="contact-section">
                <div class="col-md-3 ftr-grid fg2">
                    <div class="ftr-address">
                        <div class="local">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                        <div class="ftr-text">
                            <p>FAST NU LAHORE</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="ftr-address">
                        <div class="local">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="ftr-text">
                            <p>PandaGroup@lhr.nu.edu.pk</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="ftr-address">
                        <div class="local">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </div>
                        <div class="ftr-text">
                            <p><a href="#"> www.PandaLeague.com</a></p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-6 contact-right-w3l">
                    <form method="post" action="../Home/PCL_Review">       
                        <input type="email" name="Email" id="Email" placeholder="Email" required="">
                        <input type="text" name="Subject" id="Subject" placeholder="Subject" required="">
                        <textarea id ="Message" name="Message" placeholder="Your Message" required=""></textarea>
                        <br/>
                        <input type="submit" class="btn btn-primary btn-user btn-block" value="Send" /> 
                    </form>

                </div>
                <div class="col-md-3  w3l-contact-img"></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Tooltip -->
    <div id="feature">
        <div class="tooltip-content">

            <div class="modal fade features-modal" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Panda Fantansy</h4>
                        </div>
                        <div class="modal-body">
                            <img src="../../images/g4.jpeg" alt="" class="img-responsive">
                            <h5>Fantasy League Features</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Tooltip -->
    <div id="ReadMe2">
        <div class="tooltip-content">

            <div class="modal fade features-modal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Panda Team</h4>
                        </div>
                        <div class="modal-body">
                            <img src="../../images/z1.jpeg" alt="" class="img-responsive">
                            <h5>Team Selection Constrainst</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="ReadMe3">
        <div class="tooltip-content">

            <div class="modal fade features-modal" id="myModal3" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Panda Captain</h4>
                        </div>
                        <div class="modal-body">
                            <img src="../../images/z2.jpeg" alt="" class="img-responsive">
                            <h5>Cap & Vice Cap Selection Benefits</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- //Tooltip -->
    <!-- text-effect -->
    <script type="text/javascript" src="../../js/jquery.textFx.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.test').textFx({
                type: 'fadeIn',
                iChar: 100,
                iAnim: 1000
            });
        });
    </script>
    <script type="text/javascript" src="../../js/jquery.transit.js"></script>
    <!-- //text-effect -->
    <!-- FlexSlider -->
    <script defer src="../../js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('#carousel').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: true,
                slideshow: false,
                itemWidth: 102,
                itemMargin: 5,
                asNavFor: '#slider'
            });

            $('#slider').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: true,
                slideshow: true,
                sync: "#carousel",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });

    </script>
    <!-- //FlexSlider -->
    <!-- Owl-Carousel-JavaScript -->
    <script src="../../js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo, #owl-demo1, #owl-demo2, #owl-demo3, #owl-demo4").owlCarousel({
                autoPlay: 3000,
                items: 1,
                itemsDesktop: [1024, 1],
                itemsDesktopSmall: [414, 1]
            });
        });
    </script>

    <!-- //Owl-Carousel-JavaScript -->
    <script src="../../js/SmoothScroll.min.js"></script>

    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="../../js/move-top.js"></script>
    <script type="text/javascript" src="../../js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->


    <script type="text/javascript" src="../../js/bootstrap.js"></script>
</body>
</html>