
@{
    Layout = null;
}
@using db_connectivity.Models;
@model List<PreferencePageModel>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/PreferencePage.css" rel="stylesheet" />
    <link rel="icon" href="~/fonts/white logo.svg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="~/Scripts/p1.js"></script>



    <title>Cricpanda</title>
</head>
<body>

    <header>
        <div class="header-container1">
            <div class="div1">
                <h1 id="WelcomeTXT">Welcome to Cricpanda</h1>
                <h3 id="BelowWelcomeTXT">A place to fulfill all your cricket needs</h3>
            </div>
            <div class="div2">
                <img src="~/fonts/logo.svg" alt="logo" id="LogoImg">
            </div>
        </div>
    </header>

    <div class="BelowHeaderArea">
        <h1 id="descriptionTXT">Select a team for preference</h1>

        <div class="card">
            <div class="whole-objects-container">
                @foreach (PreferencePageModel page in Model)
                {
                    <div class="object">
                        <!--the div with class=object is the objects of country
                        so make foreach loop for this one and it will repeat itself according to data-->
                        <div class="country-container" onclick="getTeamName('@page.name');">
                            <img src=@page.ImgUrl class="FlagImg" onclick="getTeamName('@page.name');">
                            <h3 class="countryTXT" onclick="getTeamName('@page.name');">@page.name</h3>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>

  

      


</body>
</html>
