@{
    Layout = null;
}

@using db_connectivity.Models;
@model List<Taab_Matches>



<!DOCTYPE html>
<html>

<head>



    <link href="../../Content/bootstrap.css" rel='stylesheet' type='text/css' />

    <link href="../../Content/about.css" rel='stylesheet' type='text/css' />


    <style>
        body {
            background-image: url('../../images/images.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>



    <style>
        a {
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }

            a:hover {
                background-color: #ddd;
                color: black;
            }

        .previous {
            background-color: #f1f1f1;
            color: black;
        }

        .next {
            background-color: #4CAF50;
            color: white;
        }

        .round {
            border-radius: 50%;
        }
    </style>




</head>

<body>

    <!--//inner_banner-->
    <!--/short-->
    <div class="services-breadcrumb">
        <div class="inner_breadcrumb">

            <ul class="short">
                <a href="../../Home/Index" class="next"> &laquo; Back to Tournaments </a>



            </ul>
        </div>
    </div>
    <!--//short-->
    <!-- //inner_content -->
    <!--//header_w3layouts_agile-->
    <div class="banner_bottom">
        <div class="container">


            <div class="inner_sec_w3_agileinfo">
                <div class="ab_info">
                    <br />
                    <h4>Get all the Information about all the Matches</h4>
                    <p class="sub_p">
                        Get ScoreCard of matched by clicking on the LINKS
                    </p>
                </div>


                <div class="col-md-6 news-right" data-aos="fade-left">
                    <h4>Here's the List of MATCHES :  </h4>
                    <br />

                    <style>
                        table {
                            font-family: arial, sans-serif;
                            border-collapse: collapse;
                            width: 100%;
                        }

                        td, th {
                            border: 1px solid #dddddd;
                            text-align: left;
                            padding: 8px;
                        }

                        tr:nth-child(even) {
                            background-color: #dddddd;
                        }
                    </style>


                    <table class="myTable">
                        <thead>
                            <tr>
                                <th>Link</th>
                                <th>Tournament_Name</th>
                                <th>Team1</th>
                                <th>Team2</th>
                                <th>Match_Date</th>
                            </tr>
                        </thead>

                        @foreach (Taab_Matches user in Model)
                        {
                            <tr>
                                <td>><a href="../../Home/Scorecard?match_id=@user.match_id">ScoreCard</a></td>
                                <td>@user.Tournament_Name</td>
                                <td>@user.Team1</td>
                                <td>@user.Team2</td>
                                <td>@user.match_date</td>
                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- //about -->


</body>

</html>