
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!-- /login-section -->
<section class="w3l-login-6">
    <div class="login-hny">
        <div class="form-content">
            <div class="form-right">
                <div class="overlay">
                    <div class="grid-info-form">
                        <h3>Welcome to CricPanda </h3>
                        <p>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            Get live scores, player info, match stats and follow your favorite tournaments’ fixtures and results.
                        </p>

                    </div>

                </div>
            </div>
            <div class="form-left">
                <div class="middle">
                    <h4>Sign Up</h4>
                    <p>Create Your Account, It's Free.</p>
                </div>
                <form action="#" method="post" class="signin-form">
                    <div class="form-input">
                        <label>First Name</label>
                        <input id="FN" type="text" name="" placeholder="" required />

                        <label>Last Name</label>
                        <input id="LN" type="text" name="" placeholder="" required />

                        <label>Nick</label>
                        <input id="NK" type="text" name="" placeholder="" required />

                        <div class="form-input">
                            <label>Password</label>
                            <input id="Pass" password" name="" placeholder="" required />
                            

                        </div>

                        <label for="birthday">Date of Birth:</label>
                        <input type="date" id="birthday" name="birthday">

                    </div>

                    <label class="container">
                        I agree to <a href="#">Conditions</a> of Use and <a href="#">Privacy</a>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <button class="btn" > Create account  </button>
                </form>
                <div class="copy-right text-center">
                    <p>
                        © 2019 CricPanda Signup. All rights reserved
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>

